In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-2.4.0/spark-2.4.0-bin-hadoop2.7.tgz
!tar xf spark-2.4.0-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.0-bin-hadoop2.7"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

adc.json          sample_data/                spark-2.4.0-bin-hadoop2.7.tgz
mixture_data.csv  spark-2.4.0-bin-hadoop2.7/

In [0]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

link = 'https://drive.google.com/open?id=1OJoMUdOPIYOg1888SDMIB2CAM-0QI1QU'
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Ecommerce-Customers.csv')

In [0]:
# Create RDD

from pyspark.sql import SparkSession as ss
spark = ss.builder.appName('Create RDD Spark').getOrCreate()
df_spark = spark.sparkContext.parallelize([(1, 2, 3, 'ant'), (4, 5, 6, 'bird'), (7, 8, 9, ' cat')]).toDF([ 'C1', 'C2', 'C3', 'C4' ])
df_spark.show()

+---+---+---+----+
| C1| C2| C3|  C4|
+---+---+---+----+
|  1|  2|  3| ant|
|  4|  5|  6|bird|
|  7|  8|  9| cat|
+---+---+---+----+

<font color =  lightblue > ###### Pandas VS Spark ; [ pd.DataFrame VS rdd.DataFrame ] ##### </font>

In [0]:
import pandas as pd
import numpy as np

<font color =  lightblue > LIST </font>

In [0]:
#################### LIST ###############################

my_list = [ ['a', 1, 2],
            ['b', 3, 4],
            ['c', 5, 6] ]

col_name = ['A', 'B', 'C']

In [0]:
pd.DataFrame(my_list, columns = col_name)

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [0]:
pd.DataFrame(my_list, col_name)
# !! the col_name will be name of ROW

   0  1  2
A  a  1  2
B  b  3  4
C  c  5  6

In [0]:
spark.createDataFrame(my_list, col_name).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  1|  2|
|  b|  3|  4|
|  c|  5|  6|
+---+---+---+

<font color =  lightblue > DICT </font>

In [0]:
my_dict = { 'A': [0,0,0],
            'B': [1,1,1], 
            'C': [2,2,2] }

In [0]:
pd.DataFrame(my_dict)

   A  B  C
0  0  1  2
1  0  1  2
2  0  1  2

In [0]:
each_array = np.array(list(my_dict.values()))
each_key = list(my_dict.keys())

spark.createDataFrame(each_list.T.tolist(), each_key).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  0|  1|  2|
|  0|  1|  2|
|  0|  1|  2|
+---+---+---+

<font color = lightblue >Convert Spark DataFrame to Pandas DataFrame and vice versa </font>

In [0]:
#https://stackoverflow.com/questions/38610559/convert-spark-dataframe-column-to-python-list

In [0]:
pd_df1 = pd.DataFrame(my_list, columns = col_name)
pd_df1

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [0]:
# Enable Arrow-based columnar data transfers
spark.conf.set('spark.sql.execution.arrow.enabled', 'true')
pd_to_spark_df = spark.createDataFrame(pd_df1)

pd_to_spark_df.show()

/content/spark-2.4.0-bin-hadoop2.7/python/pyspark/sql/session.py:714: UserWarning: createDataFrame attempted Arrow optimization because 'spark.sql.execution.arrow.enabled' is set to true; however, failed by the reason below:
  PyArrow >= 0.8.0 must be installed; however, it was not found.
Attempting non-optimization as 'spark.sql.execution.arrow.fallback.enabled' is set to true.
  warnings.warn(msg)

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  1|  2|
|  b|  3|  4|
|  c|  5|  6|
+---+---+---+

In [0]:
spark_to_pd_df = pd_to_spark_df.select("*").toPandas()
spark_to_pd_df

/content/spark-2.4.0-bin-hadoop2.7/python/pyspark/sql/dataframe.py:2102: UserWarning: toPandas attempted Arrow optimization because 'spark.sql.execution.arrow.enabled' is set to true; however, failed by the reason below:
  PyArrow >= 0.8.0 must be installed; however, it was not found.
Attempting non-optimization as 'spark.sql.execution.arrow.fallback.enabled' is set to true.
  warnings.warn(msg)

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [0]:
## not working hahaha

# # Manually
# l1 = list(pd_df1[:]['A'])
# l2 = list(pd_df1[:]['B'])
# l3 = list(pd_df1[:]['C'])
# l4 = list(pd_df1[:][:])


# # Automatically
# lA = list(pd_df1[:][pd_df1.columns[0]])

# temp_l = []
# for i in range(3):
#     a = pd_df1.loc[i,:]
#     temp_l.append(a)

In [0]:
temp = np.array(temp)
temp

array([['a', 1, 2],
       ['b', 3, 4],
       ['c', 5, 6]], dtype=object)

<font color = lightblue > ETC </font>

In [0]:
pd_df = pd.read_csv('Ecommerce-Customers.csv')
pd_df.head(3)

,Email,Address,Avatar,Avg Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank TunnelWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer CommonDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582Cobbborough, DC ...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505

In [0]:
sp_df = spark.read.csv('Ecommerce-Customers.csv')
sp_df.show(3)
# see the Column name. 
# In this case .csv file is in the same folder that we run a code. Sp, it pssible to call the file directly with no any path

+--------------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+
|                 _c0|                 _c1|      _c2|               _c3|               _c4|               _c5|                 _c6|                _c7|
+--------------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+
|               Email|             Address|   Avatar|Avg Session Length|       Time on App|   Time on Website|Length of Membership|Yearly Amount Spent|
|mstephenson@ferna...|835 Frank TunnelW...|   Violet| 34.49726772511229| 12.65565114916675| 39.57766801952616|  4.0826206329529615|  587.9510539684005|
|   hduke@hotmail.com|4547 Archer Commo...|DarkGreen| 31.92627202636016|11.109460728682564|37.268958868297744|    2.66403418213262|  392.2049334443264|
+--------------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+
only showing top 3 rows

In [0]:
sp_df = spark.read.csv(path = 'Ecommerce-Customers.csv', encoding = 'UTF-8', sep = ',', header = True, inferSchema = True)
sp_df.show(3)

+--------------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+
|               Email|             Address|   Avatar|Avg Session Length|       Time on App|   Time on Website|Length of Membership|Yearly Amount Spent|
+--------------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+
|mstephenson@ferna...|835 Frank TunnelW...|   Violet| 34.49726772511229| 12.65565114916675| 39.57766801952616|  4.0826206329529615|  587.9510539684005|
|   hduke@hotmail.com|4547 Archer Commo...|DarkGreen| 31.92627202636016|11.109460728682564|37.268958868297744|    2.66403418213262|  392.2049334443264|
|    pallen@yahoo.com|24645 Valerie Uni...|   Bisque|33.000914755642675|11.330278057777512|37.110597442120856|   4.104543202376424| 487.54750486747207|
+--------------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+
only showing top 3 rows

In [0]:
pd_df.columns, sp_df.columns

(Index(['Email', 'Address', 'Avatar', 'Avg Session Length', 'Time on App',
        'Time on Website', 'Length of Membership', 'Yearly Amount Spent'],
       dtype='object'),
 ['Email',
  'Address',
  'Avatar',
  'Avg Session Length',
  'Time on App',
  'Time on Website',
  'Length of Membership',
  'Yearly Amount Spent'])

In [0]:
pd_df.dtypes, sp_df.dtypes

(Email                    object
 Address                  object
 Avatar                   object
 Avg Session Length      float64
 Time on App             float64
 Time on Website         float64
 Length of Membership    float64
 Yearly Amount Spent     float64
 dtype: object,
 [('Email', 'string'),
  ('Address', 'string'),
  ('Avatar', 'string'),
  ('Avg Session Length', 'double'),
  ('Time on App', 'double'),
  ('Time on Website', 'double'),
  ('Length of Membership', 'double'),
  ('Yearly Amount Spent', 'double')])

In [0]:
type(pd_df), type(sp_df)

(pandas.core.frame.DataFrame, pyspark.sql.dataframe.DataFrame)

In [0]:
pd_df['Email_naja'] = pd_df['Email'] 
pd_df.head(3)

#How about in Spark ????

,Email,Address,Avatar,Avg Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent,Email_naja
0,mstephenson@fernandez.com,"835 Frank TunnelWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054,mstephenson@fernandez.com
1,hduke@hotmail.com,"4547 Archer CommonDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933,hduke@hotmail.com
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582Cobbborough, DC ...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505,pallen@yahoo.com

<font color = lightblue> Renaming

In [0]:
new_col = {'Email': 'Email Address'}
pd_df.rename(columns = new_col).head(3)

,Email Address,Address,Avatar,Avg Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent,Email_naja
0,mstephenson@fernandez.com,"835 Frank TunnelWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054,mstephenson@fernandez.com
1,hduke@hotmail.com,"4547 Archer CommonDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933,hduke@hotmail.com
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582Cobbborough, DC ...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505,pallen@yahoo.com

In [0]:
[ new_col.get(i,i) for i in sp_df.columns ]

['Email Address',
 'Address',
 'Avatar',
 'Avg Session Length',
 'Time on App',
 'Time on Website',
 'Length of Membership',
 'Yearly Amount Spent']

In [0]:
sp_df.toDF(*[ new_col.get(i,i) for i in sp_df.columns ]).show(3)

+--------------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+
|       Email Address|             Address|   Avatar|Avg Session Length|       Time on App|   Time on Website|Length of Membership|Yearly Amount Spent|
+--------------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+
|mstephenson@ferna...|835 Frank TunnelW...|   Violet| 34.49726772511229| 12.65565114916675| 39.57766801952616|  4.0826206329529615|  587.9510539684005|
|   hduke@hotmail.com|4547 Archer Commo...|DarkGreen| 31.92627202636016|11.109460728682564|37.268958868297744|    2.66403418213262|  392.2049334443264|
|    pallen@yahoo.com|24645 Valerie Uni...|   Bisque|33.000914755642675|11.330278057777512|37.110597442120856|   4.104543202376424| 487.54750486747207|
+--------------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+
only showing top 3 rows

In [0]:
''' non sensitive to upper-lower case '''
sp_df.withColumnRenamed('avatar', 'ggwp').show(3)

+--------------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+
|               Email|             Address|     ggwp|Avg Session Length|       Time on App|   Time on Website|Length of Membership|Yearly Amount Spent|
+--------------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+
|mstephenson@ferna...|835 Frank TunnelW...|   Violet| 34.49726772511229| 12.65565114916675| 39.57766801952616|  4.0826206329529615|  587.9510539684005|
|   hduke@hotmail.com|4547 Archer Commo...|DarkGreen| 31.92627202636016|11.109460728682564|37.268958868297744|    2.66403418213262|  392.2049334443264|
|    pallen@yahoo.com|24645 Valerie Uni...|   Bisque|33.000914755642675|11.330278057777512|37.110597442120856|   4.104543202376424| 487.54750486747207|
+--------------------+--------------------+---------+------------------+------------------+------------------+--------------------+-------------------+
only showing top 3 rows