In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.osuosl.org/spark/spark-2.4.3/spark-2.4.3-bin-hadoop2.7.tgz
!tar xf spark-2.4.3-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.3-bin-hadoop2.7"

In [0]:
# # Code to read csv file into Colaboratory:
# !pip install -U -q PyDrive
# from pydrive.auth import GoogleAuth
# from pydrive.drive import GoogleDrive
# from google.colab import auth
# from oauth2client.client import GoogleCredentials

# # Authenticate and create the PyDrive client.
# auth.authenticate_user()
# gauth = GoogleAuth()
# gauth.credentials = GoogleCredentials.get_application_default()
# drive = GoogleDrive(gauth)

# link = 'https://drive.google.com/open?id=1CY29qnn_GUzk_OPAM1frmi6-e8az3dXr'

# fluff, id = link.split('=')
# print (id) # Verify that you have everything after '='
# downloaded = drive.CreateFile({'id':id}) 
# downloaded.GetContentFile('Position_Salaries.csv')

In [3]:
!git clone https://github.com/databricks/Spark-The-Definitive-Guide.git

Cloning into 'Spark-The-Definitive-Guide'...
remote: Enumerating objects: 2014, done.
remote: Total 2014 (delta 0), reused 0 (delta 0), pack-reused 2014
Receiving objects: 100% (2014/2014), 523.88 MiB | 36.22 MiB/s, done.
Resolving deltas: 100% (291/291), done.
Checking out files: 100% (1738/1738), done.

In [0]:
!git clone https://github.com/asppxq121/Machine-learning-project.git

fatal: destination path 'Machine-learning-project' already exists and is not an empty directory.

In [0]:
ls

adc.json                    spark-2.4.3-bin-hadoop2.7.tgz
Position_Salaries.csv       spark-2.4.3-bin-hadoop2.7.tgz.1
sample_data/                Spark-The-Definitive-Guide/
spark-2.4.3-bin-hadoop2.7/  spark-warehouse/

In [0]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
import pandas as pd
import numpy as np
from pyspark.sql import functions as F
from pyspark.sql import Row
from pyspark.sql.types import *


# import pyspark as sp
# sc = sp.SparkContext(appName = 'myapp') # Execute SparkContext

#### Parallelize

In [0]:
# Parallelize: using external data to create an RDD 
num_partitions = 3
fileRDD = sc.parallelize([2,2,3,4], num_partitions) # transformation

NameError: ignored

In [0]:
fileRDD

In [0]:
type(fileRDD)

In [0]:
fileRDD.first()

In [0]:
fileRDD.map(lambda x: x+x).collect()

In [0]:
fileRDD.map(lambda x : x * x).collect()

In [0]:
fileRDD.map(lambda x : x * x).reduce(lambda a, b: a+b)

#### textFile

In [0]:
# textFile: using existing data inside environment to create an RDD 
fileRDD_2 = sc.textFile('carlendar.txt') # transformation

In [0]:
fileRDD_2

In [0]:
type(fileRDD_2)

In [0]:
fileRDD_2.first() # Action.

In [0]:
type(fileRDD_2.first())

#### RDD Transformation functions

In [0]:
# Collect (Action) - Return all the elements of the dataset as an array at the driver program. 
# This is usually useful after a filter or other operation that returns a sufficiently small subset of the data.
a = sc.parallelize([1,2,3,4,5,6], 3)
a.filter(lambda x: x % 3 == 0)

In [0]:
a.filter(lambda x: x % 3 == 0).collect()

In [0]:
c = sc.parallelize(['ant', 'bird' ,'cat', 'bird'], 2)
print(c.distinct().collect())

In [0]:
set1 = list(range(1,11)) + ['あ','い','う','え','お']
set2 = list(range(0,6))
x = sc.parallelize(set1)
y = sc.parallelize(set2)

print(set1); print(set2); print('')
x.intersection(y).collect()

In [0]:
x.union(y).collect()

In [0]:
quotes = ["Nero, go! You're just dead weight.", "Don't you dare say it", "通りすがりの仮面ライダーだ"]
quotes_rdd = sc.parallelize(quotes)
quotes_rdd_len = quotes_rdd.map(lambda x: len(x))

quotes_rdd.collect()

In [0]:
quotes_rdd_len.collect()

In [0]:
quotes_rdd.zip(quotes_rdd_len).collect()

In [0]:
x = sc.parallelize([1,2,3])
y = sc.parallelize([10,11,12]) 
x.cartesian(y).collect()

#### Action


* The collect() function

         The collect() function returns all the results of an RDD operation as an array to the driver program. This is usually useful for operations that produce sufficiently small datasets. Ideally, the result should easily fit in the memory of the system that's hosting the driver program.

* The count() function

         This returns the number of elements in a dataset or the resulting output of an RDD
operation.

* The take(n) function

          The take(n) function returns the first (n) elements of a dataset or the resulting output of an RDD operation.

* The first() function
            The first() function returns the first element of the dataset or the resulting output of an RDD operation. It works similarly to the take(1) function.

* The takeSample() function

            The takeSample(withReplacement, num, [seed]) function returns an array with a random sample of elements from a dataset. It has three arguments as follows: 
            
           1. withReplacement/withoutReplacement: This indicates sampling with or without replacement (while taking multiple samples, it indicates whether to replace the old sample back to the set and then take a fresh sample or sample without replacing). For withReplacement, argument should be True and False otherwise.

            2. num: This indicates the number of elements in the sample.
            3. Seed: This is a random number generator seed (optional).

In [0]:
test = list(range(1, 11))
rdd = sc.parallelize(test)
rdd.collect()

In [0]:
rdd.count()

In [0]:
rdd.first()

In [0]:
rdd.take(2)

#### core 2

In [0]:
df_pd = pd.read_json("Spark-The-Definitive-Guide/data/flight-data/json/2015-summary.json", lines=True)

df = spark.read.format("json").load("Spark-The-Definitive-Guide/data/flight-data/json/2015-summary.json")
df.createOrReplaceTempView("df_table") 
# .createOrReplace: creates the DataFrame as a SQL temporary view
# for .createGlobaltempview: are views that are shared among all the sessions

In [0]:
spark.sql("SELECT * FROM df_table").show(3)

df_pd.head(3)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
+-----------------+-------------------+-----+
only showing top 3 rows

  DEST_COUNTRY_NAME ORIGIN_COUNTRY_NAME  count
0     United States             Romania     15
1     United States             Croatia      1
2     United States             Ireland    344

In [0]:

# StructField( name = "some", type = StringType, nullable = true)
myManualSchema = StructType([StructField("some", StringType(), True),
                             StructField("col", StringType(), True),
                             StructField("names", LongType(), False)])
myRow = Row('hi', 2, 1)
myDF = spark.createDataFrame([myRow], myManualSchema)

myDF.show()

# pandas 
myDF_pd = pd.DataFrame(columns = {'some','col','names'})
myDF_pd.loc[0] = ['hi',2,1]
myDF_pd
# We cannot use list(myRow) maybe due to a problem with data type because pyspark is successor feom Scala
# StructType as array of columns
# StructField as each column

+----+---+-----+
|some|col|names|
+----+---+-----+
|  hi|  2|    1|
+----+---+-----+

  col names some
0  hi     2    1

In [0]:
print(type(myManualSchema))
print(type(Row("hi", 2, 1)))
print(type(list(Row("hi", 2, 1))))
print(type([Row("hi", 2, 1)])) 
print(type(myDF))

In [0]:
df.select("DEST_COUNTRY_NAME", 
          "ORIGIN_COUNTRY_NAME").show(2)

spark.sql(" SELECT DEST_COUNTRY_NAME, ORIGIN_COUNTRY_NAME \
            FROM df_table \
            LIMIT 2" \
         ).show()

df_pd.iloc[0:2,0:2]

+-----------------+-------------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|
+-----------------+-------------------+
|    United States|            Romania|
|    United States|            Croatia|
+-----------------+-------------------+
only showing top 2 rows

+-----------------+-------------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|
+-----------------+-------------------+
|    United States|            Romania|
|    United States|            Croatia|
+-----------------+-------------------+

  DEST_COUNTRY_NAME ORIGIN_COUNTRY_NAME
0     United States             Romania
1     United States             Croatia

In [0]:
df.select(F.expr("DEST_COUNTRY_NAME AS GG"),
          F.col("DEST_COUNTRY_NAME"),
          F.column("DEST_COUNTRY_NAME")).show(2)

+-------------+-----------------+-----------------+
|           GG|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|
+-------------+-----------------+-----------------+
|United States|    United States|    United States|
|United States|    United States|    United States|
+-------------+-----------------+-----------------+
only showing top 2 rows

In [0]:
pivot = df.select(F.expr("DEST_COUNTRY_NAME AS GG"))
pivot.show(3)

pivot_2 = df.select(F.expr("DEST_COUNTRY_NAME AS WP"))
pivot_2.show(3)

pivot_3 = df.select(F.expr("DEST_COUNTRY_NAME AS GG").alias("WP"))
pivot_3.show(3)
# alias: sets a new name for a column

+-------------+
|           GG|
+-------------+
|United States|
|United States|
|United States|
+-------------+
only showing top 3 rows

+-------------+
|           WP|
+-------------+
|United States|
|United States|
|United States|
+-------------+
only showing top 3 rows

+-------------+
|           WP|
+-------------+
|United States|
|United States|
|United States|
+-------------+
only showing top 3 rows

In [0]:
df.selectExpr("DEST_COUNTRY_NAME as newColumnName", "DEST_COUNTRY_NAME").show(2)


df_psTemp = pd.DataFrame(df_pd['DEST_COUNTRY_NAME'])
df_psTemp['newColumnName'] = df_pd.iloc[:,0]
df_psTemp.head(2)

+-------------+-----------------+
|newColumnName|DEST_COUNTRY_NAME|
+-------------+-----------------+
|United States|    United States|
|United States|    United States|
+-------------+-----------------+
only showing top 2 rows

  DEST_COUNTRY_NAME  newColumnName
0     United States  United States
1     United States  United States

In [0]:
df.selectExpr("*", "DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME as withinCountry").show(2)

df_pd['withinCountry'] = df_pd.DEST_COUNTRY_NAME == df_pd.ORIGIN_COUNTRY_NAME
df_pd.head(2)

+-----------------+-------------------+-----+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withinCountry|
+-----------------+-------------------+-----+-------------+
|    United States|            Romania|   15|        false|
|    United States|            Croatia|    1|        false|
+-----------------+-------------------+-----+-------------+
only showing top 2 rows

  DEST_COUNTRY_NAME ORIGIN_COUNTRY_NAME  count  withinCountry
0     United States             Romania     15          False
1     United States             Croatia      1          False

In [0]:
df.withColumn('Visit', F.lit('not yet')).show(2)

+-----------------+-------------------+-----+-------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|  Visit|
+-----------------+-------------------+-----+-------+
|    United States|            Romania|   15|not yet|
|    United States|            Croatia|    1|not yet|
+-----------------+-------------------+-----+-------+
only showing top 2 rows

In [0]:
df.withColumn("Destination", F.expr("DEST_COUNTRY_NAME")).columns

['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'count', 'Destination']

In [0]:
df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [0]:
df.describe().show()

+-------+-----------------+-------------------+------------------+
|summary|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|             count|
+-------+-----------------+-------------------+------------------+
|  count|              256|                256|               256|
|   mean|             null|               null|       1770.765625|
| stddev|             null|               null|23126.516918551915|
|    min|          Algeria|             Angola|                 1|
|    max|           Zambia|            Vietnam|            370002|
+-------+-----------------+-------------------+------------------+

In [0]:
mean = df.agg({"count":"mean"})

In [0]:
mean

DataFrame[avg(count): double]

In [0]:
mean.first()

Row(avg(count)=1770.765625)

In [0]:
mean.first()[0]

1770.765625